body {
    font-family: Arial, sans-serif;
    background-color: #2e2a2a;
    text-align: center;
}

h1 {
    color: #b49999;
}

p {
    color: #beaeae;
}

/* Custom style for upload paragraph */
p.upload {
    color: #d0ff00; /* Change this to the desired color */
}

/* Form style */
form {
    margin-top: 20px;
}

/* Styling for file input */
.file-input {
    display: none;
}

/* Styling for file label */
.file-label {
    padding: 10px 10px;
    background-color: #337ab7;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

/* Styling for the "No file chosen" text */
.file-label::after {
    content: "No file chosen";
    color: #f1eaea; /* Change this to the desired color */
    margin-left: 10px;
}

.file-selected::after {
    display: inline-block;
    content: attr(data-content);
    color: #f7f2f2;
}

/* Submit button style */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Submit button hover effect */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/* Progress Bar Style */
#progress-container {
    display: none;
    width: 20%;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#progress-bar {
    background-color: #4CAF50;
    height: 100%;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.3s ease-in-out;
}

#progress-text {
    line-height: 30px;
    color: #faf5f5;
    font-weight: bold;
    text-align: center;
}
