<html>
<head>
    <title>Cloud Based IDS for IoT Systems</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script>
        function updateFileName() {
            var fileInput = document.getElementById("file-upload");
            var label = document.getElementById("file-label");
            if (fileInput.files.length > 0) {
                label.setAttribute("data-content", fileInput.files[0].name);
                label.classList.add("file-selected");
            } else {
                label.setAttribute("data-content", "No file chosen");
                label.classList.remove("file-selected");
            }
        }
    </script>
</head>
<body>
    <h1>Cloud Based IDS for IoT Systems</h1>
    <p>Built with XGBoost ML Model</p>
    <br>
    <p class="upload">Upload PCAP File</p>
    
    <form action="/select_file" method="post" enctype="multipart/form-data">
        <input type="file" id="file-upload" name="file-upload" class="file-input" onchange="updateFileName()">
        <label id="file-label" for="file-upload" class="file-label" data-content="No file chosen">PCAP File >></label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>